<div class="row m-0">
  <div class="col-6 p-0">
    <div class="left-side">
      <div>
        <h1 class="text-start">Hey you</h1>
      </div>
      <div>
        <h2 class="text-end">Welcome to MovieTracker</h2>
      </div>

      <div class="resume">
        <div class="row">
          <p class="col-6"><span class="first-letter">E</span>xplore o universo cinematográfico de uma maneira totalmente nova com o MovieTracker. Este aplicativo é a ferramenta essencial para todos os apaixonados por filmes que desejam organizar, descobrir e compartilhar suas experiências cinematográficas.</p>
          <%# <p class="col-6 pt-5 mt-5">Este projeto não é apenas sobre organizar filmes, mas sobre compartilhar paixões e construir conexões. Junte-se a nós enquanto exploramos, celebramos e refinamos nossa apreciação pelo cinema em conjunto.</p> %>
          <div class="col-6">
            <img src="images/claquete.png" alt="" size="200px">
          </div>
        </div>
      </div>
      <div class="about">
        <h2>
          <%= link_to about_path, class:"about" do %>
            About
          <% end %>
        </h2>
      </div>
    </div>
  </div>
  <div class="col-6 p-0">
    <div class="rigth-side">
      <h1>
        <%= link_to new_user_session_path, class:"get-start" do %>
          Get Start
        <% end %>
      </h1>
    </div>
  </div>
</div>
